
python-jose[cryptography]
passlib[bcrypt]
python-multipart
fastapi
geoalchemy2
jose
pydantic
shapely
sqlalchemy
uvicorn
cryptography
pyjwt
pyotp
qrcode
pillow
pyjwt
pyotp
qrcode
geopandas
psutil
pyodbc
pandas
alembic
jinja2
fastapi
jinja2
psycopg2-binary
sqlalchemy
uvicorn
numpy
shapely
numpy
shapely
pdfkit
plotly
scikit-learn
fastapi
jinja2
psycopg2-binary
uvicorn
